apiVersion: v2
name: gpts
description: GPTS - General Purpose Test Service
type: application
version: [[GPTS_VERSION]]
appVersion: "[[GPTS_VERSION]]"
icon: https://github.com/Icikowski/GPTS/raw/master/.assets/helm_icon.png